
<!-- <div class="navbar">
   <a class='nav-link' routerLink="signin">Signin</a>
</div>   -->

    
<!-- <div id="signincard">
<div class="card">
    <h5 class="card-header card text-center">Sign in</h5>
    <div class="card-body">
     <div class="form-group row">
            <label for="email"><strong>Email ID:</strong></label>
            <input type="email" name="email" id="email" requried/>
     </div><br/>
     <div class="form-group row">
            <label for="password"><strong>Password:</strong></label>
            <input type="password" name="password" id="password" requried/>
     </div><br/>
      <a href="#" class="btn btn-success btn-lg">Sign in</a>
    </div>
  </div>
</div>
<span><a href="#" id="forgotpassword">Forgot Password</a></span>
<p>Don't have an account?<a id="signup">Sign up</a></p> -->