
    
      <!-- <button class="btn btn-light" id="signin"> sign in</button> 
      <button class="btn"  id="signup" >sign up</button>  -->

          <button type="button" id="signinbtn" class="btn navbar" (click) = "show()">Signin</button>
           
          <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
                <!-- <h4 class="modal-title" id="myModalLabel">Register</h4> -->
              </div>
              <div class="modal-body">
               <form (ngSubmit)='onSubmit(signinForm.value)' #signinForm ="ngForm">
                  <button class="btn"  id="signup" ><fa-icon [icon] ="fauserplus"></fa-icon>sign up</button>
                  <button class="btn btn-light" id="signin">  <fa-icon [icon]="fasigninalt"></fa-icon> sign in</button>  <br/><br/><br/>
                  <!-- <div class="form-group row">
                    <label for="email" class="form-label">Email:</label>
                    <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name='email' [(ngModel)]="Email" required placeholder="Enter email"
                     #name="ngModel"/><br/>
                     <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                         <div *ngIf ="name.errors?.requried">
                             Email is requried
              
                         </div>
              
                     </div>
                  </div>
                  </div>

                  <div class="form-group row">
                    <label for="password" class="form-label">Password:</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]=" Password" placeholder=" Enter Password" requried minlength=6   #name="ngModel"/><br/>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                      <div *ngIf ="name.errors?.requried">
                          Password is requried
              
                      </div>
              
                  </div>
                  </div>
                  </div> -->
                  <div id="signincard">
                     <div class="card">
                         <h5 class="card-header card text-center">Sign in</h5>
                         <div class="card-body">
                          <div class="form-group row">
                                 <label for="email"><strong>Email ID:</strong></label>
                                 <input type="email" name="email" id="email1" requried/>
                          </div>
                          <div class="form-group row">
                                 <label for="password"><strong>Password:</strong></label>
                                 <input type="password" name="password" id="password1" requried/>
                          </div>
                           <a href="#" class="btn btn-success btn-lg">Sign in</a>
                         </div>
                       </div>
                     </div>
                 <!-- <div>
                     <button type="submit" id="signinbtn" class="btn btn-success" [disabled]="!signinForm.valid">Sign in</button>
                </div> -->
                <div class="text-center">
                     <a id="forgotpass" href="#">Forgot Password</a>
                </div>
                <div>
                   <p>Don't have an account ?<a id="signbtn" href="#">Sign in</a></p>
                </div>
                </form>
          </div>      
      







