#signin{
    margin-top:5%;
   margin-left:20%;
   width:30%;
}
#signup{
    margin-top:5%;
    width:30%;
    background:darkgrey;
}
#signinbtn{
    float: right;
    color:white;
}
#email{
    margin-left:19%;
}
#password{
    margin-left:11%;
}
label{
    padding-left: 5%;
}
#forgotpass{
    /* color:blue; */
    text-decoration: none;
}
#signin{
    margin-left: 0%;
    margin-top: 0%;
    width:50%
}
#signup{
    width:50%;
    margin-top: 0%;
}
#email1{
    margin-left: 20%;
    width: 55%;
}
#password1{
    margin-left:18%;
    width: 55%;
}
.btn{
    float:right;
}
#signincard{
    width:80%;
    margin-left: 10%;
}
#signbtn{
    padding-left: 2%;
}
p{
    text-align:center;
}