<button type="button" id="signinbtn" class="btn navbar" (click) = "show()">Signin</button>
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
       </div>
       <div class="modal-body">
        <form (ngSubmit)='onSubmit(signinForm.value)' #signinForm ="ngForm">
            <button class="btn btn-light" (click)="onSigninClick()" id="signin">  <fa-icon [icon]="fasigninalt"></fa-icon> sign in</button> 
            <button class="btn"  (click)="onSignupClick()"  id="signup" ><fa-icon [icon] ="fauserplus"></fa-icon>sign up</button><br/><br/>
           <!-- signin modal -->
           
           <div id="signincard" [style.display]="signincard ? 'block' : 'none'">
               <div class="card">
                     <h5 class="card-header card text-center">Sign in</h5>
                     <div class="card-body">
                        <div class="form-group row">
                           <label for="email" class="col-sm-3 col-form-label col-form-label-sm"><strong>Email ID:</strong></label>
                           <div class="col-sm-9">
                              <input type="email" class="form-control" name="email" id="email" requried/>
                              </div>
                        </div>
                        <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label col-form-label-sm"><strong>Password:</strong></label>
                        <div class="col-sm-9">
                           <input type="password" class="form-control" name="password" id="password" requried/>
                           </div>
                        </div>
                        <a href="#" id="btnsignin"class="btn btn-primary">Sign in</a>
                     </div>
                  </div>
             </div>
       </form>
       <div class="text-center" (click) = "showOne()" [style.display]="signincard ? 'block' : 'none'">
          <a id="forgotpass" href="#resetPasswordCard">Forgot Password</a>
       </div>
       <div [style.display]="signincard ? 'block' : 'none'">
          <p>Don't have an account ?<a id="signbtn" href="#">Sign up</a></p>
      </div>

       <!-- sign up modal -->
                <diV id="signupcard" [style.display]="signupcard ? 'block' : 'none'">
                   <div class="card" >
                      <h5 class="card-header card text-center">Sign up</h5>
                        <div class="card-body">
                             <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                                 <div class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm">First Name:</label>
                                    <div class="col-sm-9">
                                       <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                                       <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                          <div *ngIf="f.firstname.errors.required">FirstName is required</div>
                                        </div>
                                   </div>
                                </div>
                                <div class="form-group row">
                                   <label class="col-sm-3 col-form-label col-form-label-sm">Last Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="lastname" id="lastname"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                                         <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastname.errors.required">lastName is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                   <label class="col-sm-3 col-form-label col-form-label-sm">Email ID:</label>
                                    <div class="col-sm-9">
                                        <input type="text" formControlName="email" id="email1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">
                                               Email must be a valid email address
                                           </div>
                                       </div>
                                   </div>
                                 </div>
                                 <div class="form-group row">
                                    <label class="col-sm-3 col-form-label col-form-label-sm">Mobile Number:</label>
                                    <div class="col-sm-9">
                                       <input type="text" formControlName="mobile" id="moblie" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                       <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                          <div *ngIf="f.mobile.errors">Mobile must be Valid and at least 10 digits</div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                   <label class="col-sm-3 col-form-label col-form-label-sm">Password:</label>
                                   <div class="col-sm-9">
                                      <input type="password" formControlName="password" id="password1"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                          <div *ngIf="f.password.errors.required">
                                             Password is required
                                          </div>
                                          <div *ngIf="f.password.errors.minlength">
                                             Password must be at least 6 characters
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                   <label class="col-sm-3 col-form-label col-form-label-sm">Confirm Password:</label>
                                   <div class="col-sm-9">
                                      <input type="password" formControlName="confirmpassword" id="confirmpassword"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                                       <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                          <div *ngIf="f.confirmpassword.errors.required">
                                             Confirm Password is required
                                        </div>
                                     </div>
                                   </div>
                                </div>
                                <button type="submit" id="btnsignup" class="btn btn-primary text-center">Submit</button>
                            </form>
                         </div>
                     </div>
            </diV>
      </div>
    </div>
</div> 

<!-- Reset password modal -->

<div [style.display]="showModalOne ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" (click) = "hideOne()">&times;</button>
             </div>
             <div class="modal-body">
                 <div id="resetPassword">
                     <div class="card">
                        <h5 class="card-header card text-center">Reset Password</h5>
                         <div class="card-body">
                              <form  (ngSubmit)='onSubmit(resetPassword.value)' #resetPassword ="ngForm">
                                  <div class="form-group row">
                                      <label for="email" class="col-sm-3 col-form-label col-form-label-sm">Email ID:</label>
                                      <div class="col-sm-9">
                                          <input type="email"class="form-control" name="email" [(ngModel)]="email" #emailVar="ngModel" requried />
                                          <span class="error" *ngIf="emailVar.invalid && emailVar.touched">Email  is required</span>
                                       </div>
                                  </div>
                                  <div class="form-group row">
                                     <label for="mobile" class="col-sm-3 col-form-label col-form-label-sm">Moblie Number:</label>
                                     <div class="col-sm-9">
                                       <input type="text" class="form-control" name="mobile"  [(ngModel)]="mobile" #mobileVar="ngModel" requried/>
                                       <span class="error" *ngIf="(mobileVar.invalid &&  mobileVar.touched)">Moblie number is required</span>
                                     </div>
                                  </div>
                                  <div class="form-group row">
                                         <label for="password" class="col-sm-3 col-form-label col-form-label-sm">Password:</label>
                                     <div class="col-sm-9">
                                         <input type="password"  class="form-control" name="password" minlength="6"  #passwordVar="ngModel" [(ngModel)]="password" requried/>
                                     </div>
                                  </div>
                                  <div class="form-group row">
                                       <label for="confirmPassword" class="col-sm-3 col-form-label col-form-label-sm">Confirm Password:</label>
                                       <div class="col-sm-9">
                                          <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" requried/>
                                       </div>
                                  </div>
                                  <button class="btn btn-primary" id="btnreset"[disabled]="!resetPassword.valid">Submit</button>
                               </form>
                           </div>
                        </div>
                     </div>
                   </div>
                  </div>
             </div>
       /div>




